/* Logo */
.special-logo {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.special-logo:hover {
  text-shadow: 4px 4px 6px rgba(0, 0, 0, 0.5);
  transform: scale(1.1) rotate(-10deg);
}


/* Title */
.animate-charcter {
  text-transform: uppercase;
  background-image: linear-gradient(
    -225deg,
    #231557 0%,
    #f5f5f5 29%,
    #ff1361 67%,
    #fff800 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 5s linear infinite;
  display: inline-block;
  font-size: 40px;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}

/* ====================================== */
  /* Define keyframes for typing animation */
/* Define keyframes for typing animation */
@keyframes typing {
    from { width: 100%; }
    to { width: 0; }
  }
  
  /* Apply typing animation to text */
  .typing-effect::before {
    content: '';
    display: inline-block;
    vertical-align: bottom;
    overflow: hidden;
    width: 100%;
    animation: typing 5s steps(50, end) reverse;
  }


  /* Custom Button */
  .custom-button {
    background-color: #eeff00;
    padding: 0.50rem 1.5rem;
    border-radius: 0.75rem;
    color: #000000;
    font-weight: bold;
    border: none;
  }
  
  .custom-button:hover {
    background-color: #f0f0f0;
  }
  /* Custom Button2 */
  .custom-button2 {
    background-color: #000000;
    border-radius: 0.75rem;
    color: #ffffff;
    border: none;
  }
  
  .custom-button:hover {
    background-color: #f0f0f0;
  }
  


  /* AboutUs Style */
 /* CSS for text animation */
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Apply animation to the paragraph */
p {
  animation: fadeIn 1s ease forwards;
}


/* Loader */
